body {
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

input {
  margin: 5px;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  padding: 10px;
}